<% if (grid) { %>
  <div id="grid-container">
    <%- grid %>
  </div>
<% } else { %>
  <p>Sorry, there was an issue loading the grid.</p>
<% } %>

<div id="message-container">
  <%- message %>
</div>