
        <div >
            <div class="imagecontainer">
                <h1>Welcome to CSE Motors!</h1>
                <%- messages() %> <!-- This line is added for displaying messages -->
                <img src="/images/vehicles/delorean.jpg" alt="Large Screen Delorean">
                <div class="text-block">
                    <h2>DMC Delorean</h2>
                    <p>3 cup holders</p>
                    <p>Superman doors</p>
                    <p>Fuzzy dice!</p>
                    <h3 id="today">Own Today</h3>
                </div>
            </div>
        </div>



        <div class="deloreaninformation">
                <div class="upgrade">
                    <h2>Delorean upgrades</h2>
                    <div> 
                        <img src="/images/upgrades/flux-cap.png" alt="Large Screen flux capacitor">
                        <p>Flux capacitor</p>
                    </div>
                    <div>
                        <img src="/images/upgrades/flame.jpg" alt="Large Screen Flame Decals">
                        <p>Flame Decals</p>
                    </div>
                    <div>
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Large Screen Bumper Stickers">
                        <p>Bumper Stickers</p>
                    </div>
                    <div>
                        <img src="/images/upgrades/hub-cap.jpg" alt="Large Screen Hub Caps">
                        <p>Hub Caps</p>
                    </div>
                </div>
                <div class="reviews">
                    <h2>DMC Delorean Reviews</h2>
                    <p>"So fast it's almost like traveling in time."(4/5)</p>
                    <p>"Coolest ride on the road."(4/5)</p>
                    <p>"I'm feeling McFlyl."(5/5)</p>
                    <p>"The most futuristic ride of our day."(4.5/5)</p>
                    <p>"80's livin and i love it."(5/5)</p>
                </div>
        </div>
        