/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1#vehicle-title {
  text-align: left;
  margin-left: 0.4em;
}

.intercalate {
  background-color: rgb(237 244 249);
}

main h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
}

#inv-display img {
  width: 40vw;
  height: 27vw;
}

#inv-display li{
  text-align: center;
}
#inv-display li{
  text-align: center;
  margin-top: 5em
}
#inv-display li a {
  color: black;
}
#inv-display li span {
  color: black;
  font-size: 1.5em;
}

ul#inv-display {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.vehicle-details {
  display: flex;
  flex-direction: column;
  margin-right: 8em;
  margin-left: 1em;
}

.vehicle-details img {
  width: 85vw;
  height: auto;
}

body {
  background-image: none;
  margin-top: 1em;
  margin-bottom: 1em;
}
.imagecontainer h1 {
  margin-left: 8px;
}
#wrapper{
  background-color: white;
}

header{
  font-size: larger;
  display: flex;
  margin-left: 0.5em;
  margin-right: 0.5em;
  justify-content: space-between;
}
  
meta{
  display: none;
  visibility: hidden;
}
  
  nav {
    background-color: #2B0E57;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  }
  

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 100%;
}

  li {
    flex: 1;
    padding: 0.2em;
}
  

  li a {
    text-decoration: none;
    color: white;
  }

  

section {
  position: relative; 
}
  .imagecontainer {
    position: relative;
}

.text-block {
  position: absolute;
  top: 58%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
  color: #6821D1;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  line-height: 0.3;
  /* padding: 1em; */
  margin-left: 11%;
  width: 34%;
  /* margin-top: 0%; */
  /* margin-bottom: 10%; */
}

.text-block h2 {
  font-size: 2.5vw;
  margin-bottom: 1em;
}

.text-block p {
  font-size: 1.5vw;
  margin-bottom: 3%;
  margin-top: 10%;
}

#today {
    color: white;
    background-color: #6821D1;
    font-size: 2vw;
    margin: 0.1em;
    border-radius: 0.1em;
    line-height: 1.5;
    margin-top: 1em;
    text-align: center;
}

.imagecontainer img {
  max-width: 100%;
  height: auto;
}
.imagecontainer img {
  width: 70%;
  margin-left: 30%;
  height: auto;
}

.deloreaninformation {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.upgrade {
  flex: 1;
  text-align: center;
}

.upgrade h2 {
  order: -1; 
}

.upgrade div {
  margin-bottom: 20px; 
}
.upgrade {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto auto auto; 
  gap: 20px; 
  text-align: center;
  margin-left: 2vw;
}

.upgrade h2 {
  grid-column: span 2; 
}
.upgrade p {
  color: blue;
  text-decoration: underline;
}
.upgrade div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2c2c2;
}

.upgrade img {
  width: 5em;
  height: 6em;
  background-color: white;
}
.upgrade h2{
  grid-row: 1/2;
  text-align: left;
}

.reviews {
  flex: 1;
  text-align: left;
  margin-left: 3vw;
}

.reviews h2 {
  order: -1; 
}

.reviews p {
  margin-bottom: 10px; 
  font-size: 1.1em;
  line-height: 3em;
  font-weight: bold;
}
header span{
  font-size: 1.7em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: #6f6d6d; 
}
header span a{
  color: #2B0E57; 
}

header #tools {
  text-align: center;
  margin-top: 1.5em;
}
#tools a {
  color: #2B0E57; 
}
.reviews p::before {
  content: '\2022'; 
  color: #242332; 
  }

#loginBlock, #registerBlock{
    align-items: center;
}
#loginBlock form, #registerBlock form{
  display: flex;
  flex-direction: column;
}
#loginBlock button{
  width: 12vw;
  margin-left: 2vw;
}
#registerBlock button{
  width: 15vw;
  margin-left: 2vw;
}
#loginBlock p, #registerBlock p {
  margin-left: 2vw;
  margin-right: 2vw;
}
#loginBlock input, #registerBlock input {
  font-size: 3.5vw;
  margin-left: 2vw;
  margin-right: 9vw;
}
#loginBlock label, #registerBlock label{
  font-size: 4.5vw;
  margin-left: 2vw;
}
#loginBlock form, #registerBlock form {
  display: flex;
  flex-direction: column;
  border: solid 0.06vw #e1e0e0;
  margin: 2vw;
  padding: 1vw;
  border-radius: 1vw;

}

#accountManagementLayout h2 {
  text-align: center;
  font-size: 4vw;
}

#accountManagementLayout h2 {
  text-align: center;
  font-size: 4vw;
}

#accountManagementLayout p, #accountManagementLayout a  {
  text-align: center;
  font-size: 3vw;
}


div#loginBlock, div#registerBlock {
  background-color: #a466ff;
  border: solid #8f50eb;
  border-radius: 2vw;
  margin-left: 11vw;
  margin-right: 9vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
}

h1#login, h1#register {
  display: flex;
  margin-left: 1vw;
  font-size: 5vw;  
  align-content: flex-end;
}
#pswdBtn {
  border: 2px solid #f5f3f3;
  background-color: #f5f3f3;
  border-radius: 5px;
  margin-left: 2vw;
  padding: 2px;
  font-size: medium;
  margin-bottom: 2vw;
  width: 8em;
  text-align: center;
}

.error li {
  color: red;
}

.notice {
  list-style-type: none;
  display: flex;
  width: 100%;
  font-weight: bold;
  list-style-type: disc;
  color: red;
  flex-direction: column;
  margin-bottom: 2vw;
}

div#managementLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
  margin-left: 4vw;
}

h1#management {
  display: flex;
  margin-left: 1vw;
}

#managementLinks a {
  font-size: 2.5vw;
}

h1#newClassification {
  display: flex;
  margin-left: 1vw;
}

div#newClassificationBlock {
  background-color: #a466ff;
    border: solid #8f50eb;
    border-radius: 2vw;
    margin-left: 11vw;
    margin-right: 9vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vw;
}

div#newClassificationBlock form {
  display: flex;
    flex-direction: column;
    border: solid 0.06vw #e1e0e0;
    margin: 2vw;
    padding: 1vw;
    border-radius: 1vw;

}

div#newClassificationBlock button {
  margin-top: 4vw;
  width: 19vw;
  font-size: 2vw;
  margin-left: 2vw;
  height: 5vw;
  font-weight: bold;
}

div#newClassificationBlock input {
font-size: 3vw;
    margin-left: 2vw;
    margin-right: 9vw;
}

div#newClassificationBlock p, div#newClassificationBlock label {
  margin-left: 2vw;
  font-weight: bold;
}
div#newClassificationBlock label{
  font-size: 3vw;

}
div#newInventoryBlock{
  background-color: #a466ff;
  border: solid #8f50eb;
  border-radius: 2vw;
  margin-left: 11vw;
  margin-right: 9vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
}
div#newInventoryBlock form {
display: flex;
    flex-direction: column;
    border: solid 0.06vw #e1e0e0;
    margin: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}
div#newInventoryBlock label {
  font-size: 3vw;
  margin-left: 2vw;
  margin-bottom: 1vw;
}

div#newInventoryBlock input,div#newInventoryBlock select  {
  font-size: 3vw;
  margin-left: 2vw;
  margin-right: 9vw;
  margin-bottom: 2vw;
}
div#newInventoryBlock button {
  width: 17vw;
  height: 5vw;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 2vw;
}

div#manageInventory {
  margin-left: 1vw;
}

div#manageInventory h2 {
  font-size: 5vw;
}

div#manageInventory p {
  font-size: 3vw;
}

div#manageInventory label, div#manageInventory select {
  font-size: 3vw;
}

table#inventoryDisplay {
  font-size: 3vw;
  margin-top: 1vw;
}

tr#inventoryDisplay{
  margin-top: 1vw;
}
table#inventoryDisplay a {
  margin-left: 1vw;
}

@media screen and (min-width: 1024px) {
  
  div#loginBlock, div#registerBlock{
    margin-left: 19vw;
    margin-right: 15vw;
  }
  #loginBlock p, #registerBlock p{
    font-size: 1.6vw;
  }
  h1#login, h1#register {
    font-size: 2.5vw;  
  }
  #loginBlock label, #registerBlock label{
    font-size: 2.5vw;
  }
  #loginBlock input, #registerBlock input{
    font-size: 1.5vw;
  }
  #loginBlock button {
    width: 5vw;
    font-size: 1.5vw;
  }
  #registerBlock button{
    width: 7vw;
    font-size: 1.5vw;
  }
  li {
    padding: 1em;
  }
  body{
    background-image: url(/images/site/checkerboard.jpg);
  }
  #wrapper{
  
    margin-top: 0.4em;
    margin-left: 15%;
    margin-right: 15%;
    border: 0.4em solid #6821D1;
    border-radius: 0.4em;
  }
  .text-block h2 {
    margin-bottom: 0.5em;
  }
  .text-block p {
    margin-bottom: 10%;
  } 
  #today{
    margin-top: 1.5em;
  }

  .deloreaninformation{
    flex-direction: row
  }
  #inv-display img {
    width: 16vw;
    height: 9vw;
  }

  ul#inv-display{
    flex-direction: row;
    flex-wrap: wrap;
  }
  h1#vehicle-title {
    text-align: justify;
}
.vehicle-details img {
  width: 29vw;
  margin-right: unset;
}
.text-container {
  margin-top: -1.6em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.5vw;
}
.vehicle-details {
  flex-direction: row;
  margin-right: unset;
}
.text-container h2 {
  font-size: 2.5vw;
}
.text-container p {
  padding: 0.5em;
}

}