<h1 id="management"><%= title %></h1>
<%- messages() %>
<div id="managementLinks">
<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Inventory</a>
</div>